.post.panel.panel-default
  .panel-heading
    a(href = data.value.content.curate)
      h2 #{data.value.content.title}
  .panel-body
    p.lead #{data.value.content.oneLiner}

    a(href="/#u/#{ encodeURIComponent(data.value.author) }")
      span #{ data.value.author }
    a(href="/#u/#{ encodeURIComponent(data.value.credits) }")
      span #{ data.value.credits }
    
    if data.value.content
      label #{ data.value.content.type || 'encrypted' }
    
    p #{ moment(data.value.timestamp).fromNow() }
    div(style: "width: 450px; overflow: hidden;")
    
      p.summary #{ data.value.content.summary }
      
      each tag in data.value.content.tags 
        span.tag
          a(href="/#t/#{tag}")= tag
        
